<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/easyTestdb</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">7500</property>

    <mapping resource="model/entities/Pregunta.hbm.xml"/>
    <mapping resource="model/entities/Alternativas.hbm.xml"/>
    <mapping resource="model/entities/Encuestado.hbm.xml"/>
    <mapping resource="model/entities/Evaluacionpreguntas.hbm.xml"/>
    <mapping resource="model/entities/Evaluacion.hbm.xml"/>
    <mapping resource="model/entities/Encuestador.hbm.xml"/>
    <mapping resource="model/entities/Plantilla.hbm.xml"/>
    <mapping resource="model/entities/Grupopreguntas.hbm.xml"/>
    <mapping resource="model/entities/Test.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
